alias java11='export JAVA_HOME=$JAVA_11_HOME'

# Aliases which shadow default bindings
alias cat=bat
# alias tmux='TERM=xterm-256color tmux'
alias vimdiff='nvim -d'
alias pip='pip3'
# alias python='python3'

# Config files (cf*)
alias cff='chezmoi edit ~/.config/fish/config.fish --apply'
alias cft='chezmoi edit ~/.wezterm.lua --apply'
alias cfa='chezmoi edit ~/.config/fish/aliases.fish --apply'

{{ if eq .profile "hapi" }}
alias aws_console='saml2aws console --force --session-duration 28800'
{{ end }}

# Convenience aliases
alias finder='open -a "Finder"'
alias l='ls -laH'
