# repos
tap 'homebrew/cask'
tap 'homebrew/cask-versions'
tap 'homebrew/cask-fonts'
tap 'homebrew/core'
tap 'aws/tap'

# macOS programs I typically use, subject to change
cask '1password'
cask 'obsidian'
cask 'docker'
cask 'font-fira-code'
cask 'insomnia'
cask 'karabiner-elements'
cask 'rectangle'
cask 'wezterm'

# core stuff
brew 'fish'
brew 'git'
brew 'neovim'
brew 'reattach-to-user-namespace'

# less core stuff but I use these regularly enough
brew 'bat'
brew 'coreutils'
brew 'editorconfig-checker'
brew 'fd'
brew 'fzf'
brew 'gron'
brew 'jq'
brew 'lf'
brew 'rg'
brew 'trash'

# languages
brew 'gcc'
brew 'golang'
brew 'jsonnet'
brew 'node'
brew 'nvm'
brew 'pyenv'
brew 'terraform'
brew 'tfenv'

# core cloud stuff
brew 'aws-vault'

# personal machine only
{{ if eq .profile "personal" }}
cask 'discord'
{{ else }}
# <profile is {{ .profile | quote }}>
{{ end }}

# Human API machine only
{{ if eq .profile "hapi" }}
cask 'lastpass'
cask 'slack'
cask 'zoomus'
{{ else }}
# <profile is {{ .profile | quote }}>
{{ end }}
