[language-server.sqls]
command = "sqls"

[language-server.marksman]
command = "marksman"
args = ["server"]

[language-server.eslint]
command = "vscode-eslint-language-server"
args = ["--stdio"]

[language-server.eslint.config]
format = true
nodePath = ""
onIgnoredFiles = "off"
packageManager = "pnpm"
quiet = false
rulesCustomizations = []
run = "onType"
useESLintClass = false
validate = "on"
codeAction = { disableRuleComment = { enable = true, location = "separateLine" }, showDocumentation = { enable = true } }
codeActionOnSave = { mode = "all" }
experimental = {}
problems = { shortenToSingleLine = false }
workingDirectory = { mode = "auto" }

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]
config = {}

[language-server.ruff]
command = "ruff"
args = ["server"]
config = { lint = { isort = { profile = "black" } }, format = { isort = { profile = "black" } } }

[[language]]
name = "svelte"
auto-format = true

[[language]]
name = "javascript"
language-servers = ["typescript-language-server", "eslint"]
formatter = { command = 'prettierd', args = [".js"] }
auto-format = true

[[language]]
name = "typescript"
language-servers = ["typescript-language-server", "eslint"]
formatter = { command = 'prettierd', args = [".ts"] }
auto-format = true

[[language]]
name = "jsx"
language-servers = ["typescript-language-server", "eslint"]
formatter = { command = 'prettierd', args = [".jsx"] }
auto-format = true
block-comment-tokens = ["{/*", "*/}"]

[[language]]
name = "tsx"
language-servers = ["typescript-language-server", "eslint"]
formatter = { command = 'prettierd', args = [".tsx"] }
auto-format = true
block-comment-tokens = ["{/*", "*/}"]

[[language]]
name = "python"
roots = ["pyproject.toml", "setup.py", "Poetry.lock", ".git"]
shebangs = ["python"]
language-servers = ["pyright", "ruff"]
auto-format = true
formatter = { command = 'black', args = ["--quiet", "-"] }

[[language]]
name = "bash"
auto-format = true

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }
auto-format = true

[[language]]
name = "markdown"
language-servers = ["marksman"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
auto-format = true

[[language]]
name = "sql"
scope = "source.sql"
injection-regex = "sql"
file-types = ["sql", "SQL"]
comment-token = "--"
language-servers = ["sqls"]
formatter = { command = "sql-formatter" }
auto-format = true

[[language]]
name = "hcl"
formatter = { command = "terraform", args = ["fmt", "-"] }
auto-format = true
